/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-natasans: "Nata Sans", sans-serif;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.3);
}

.custom-scroll::-webkit-scrollbar-thumb:disabled {
  background: rgba(255, 255, 255, 0.1);
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
